#input__form,.result__field {
    margin: 0 30vw;
    padding: 5vh 5vw;
}

#input__form {
    border: 1px solid goldenrod;
}

#header {
    font-style: italic;
    margin-bottom: 5vh;
}

#content__container {
    display: flex;
    flex-direction: column;
}

span {
    margin-bottom: 3vh;
}

#button__switch {
    border-color: goldenrod;
    background-color: rgb(218, 182, 91);
}

.result__field {
    margin-top: 5vh;

    font-weight: 600;
    font-size: 20px;

    border: 1px solid goldenrod;
}